Data/*
pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info/
*.egg
*.exe
node_modules/
.npm-cache/
dist/
src-tauri/target/
src-tauri/gen/
Installer/node_modules/
Installer/dist/
Installer/src-tauri/target/
Installer/src-tauri/gen/
Installer/assets/app/VaultMLN.exe
vaultmln_redesign.html
